<p>hello</p>
<%= form_tag '/teams', method: :post do %>
  <div class="form-group">
  <%= label_tag :state, 'Enter state name: ' %>
  <%= text_field_tag :state, "", class: 'form-control' %>
  </div>
   <div class="form-group">
  <%= label_tag :team, 'Enter team name: ' %>
  <%= text_field_tag :team, "", class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :city, 'Enter city: ' %>
  <%= text_field_tag :city, "", class: 'form-control' %>
  </div>
  <div>
  <%= submit_tag 'Submit team!' %>
  </div>
  <% end %>